.card {
    text-align: center;
    // background-color: #ccc;
    background-clip: content-box;
    margin-top: 8px;
    margin-bottom: 8px;
    border: 1px solid #ccc;
    // padding: 5px;

  // &__discount {
  //   position: fixed;
  //   left: 24.9rem;
  //   background: red;
  //   width: 51px;
  //   height: 23px;
  // }
}

.card:hover {
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}


