<div class="wrapper__login">
    <form class="form login">
        <div class="form__field">
            <input type="email" autocomplete="email" class="form__input" placeholder="Username" required>
        </div>
        <div class="form__field">
            <input type="password" autocomplete="current-password" class="form__input" placeholder="Passsword" required>
            <i class="fa fa-balance-scale" aria-hidden="true"></i>
        </div>
        <div class="form__field">
            <input type="checkbox" value="" name="Remeber password">
            <label for="form_remember">Remeber password</label>
        </div>
        <div class="form__field">
            <input class="btn__subbmit-login" type="submit" value="Sign In" />
        </div>
    </form>
    <div class="wrapper__link-sign-up">
        <a href="_">Sign up now!</a>
    </div>
</div>